<div id="headerwrap">
  <div class="container noscroll">
    <div class="Roundingw">
      <div class="col-lg-6">
        <h1 class="wow bounceInLeft">Welcome<br/>
          to the Skill Matrix</h1>
          <div class="form-group">
            <%= link_to "Login", "#login", "data-toggle" => "modal", :class => "btn btn-success btn-lg wow fadeInRight" %>
            <%= link_to "Sign Up", "#sign_up", "data-toggle" => "modal", :class => "btn btn-warning btn-lg wow fadeInRight" %>
          </div>
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6 wow fadeInUp">
        <%= image_tag("ipad-hand.png", :class => "img-responsive") %>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container noscroll">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1 class="wow rubberBand">Allocate for Projects<h1>
        <h3>The Skill Matrix is a tool used to find/display people with certain skillsets.  It also serves to allocate workers to open projects.</h3>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-md-4">
      <%= image_tag("ser01.png", :width => "180", :class => "wow bounceInLeft") %>
      <h4 class="wow rubberBand"><b>Find Personel to Work with</b></h4>
      <p>Users take admin generated survey to rate display their applicaable skill sets.  This allows admins/project managers to located workers for various on-going projects.</p>
    </div><!--/col-lg-4 -->

    <div class="col-md-4">
      <%= image_tag("ser02.png", :width => "180", :class => "wow bounceInUp") %>
      <h4 class="wow rubberBand"><b>Email Associates</b></h4>
      <p>The skill matrix allows the admins/project manager to mass mail all potential candiates for upcoming projects.  It is designed as a way to start communication between project managers, workers, and their supervisors.</p>

    </div><!--/col-lg-4 -->

    <div class="col-md-4">
      <%= image_tag("ser03.png", :width => "180", :class => "wow bounceInRight") %>
      <h4 class="wow rubberBand"><b>Gather Data from Projects in Progress</b></h4>
      <p>The data of on-going projects are displayed for workers who are looking to task themselves, rather than just to wait for their supervisor to give them work.  User can contact project managers in charge of projects so they may work on projects they have more interest in rather than fullfiling another duty.</p>

    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->


<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h4><b><i>To Login this demo app, please see below for more info.</b></i></h4>
    </div>
    <div class=col"col-lg-3"></div>
  </div><!-- /row -->
  <hr>
</div><!-- /container -->


<div class="container">
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="col-md-6">
        <h4>Admin Login</h4>
        <p>Login - 'admin'<br/>Password - 'asdzxc123'</p>
      </div>
      <div class="col-md-6">
        <h4>User Login</h4>
        <p>Login - 'carlos@mann.info'<br/>Password - 'asdzxc123'</p>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
</div><!-- /container -->

