<div id="headerwrap">
  <div class="container noscroll">
    <div class="Roundingw">
      <div class="col-lg-6">
        <h1 class="wow bounceInLeft">Welcome<br/>
          to the Skill Matrix</h1>
          <div class="form-group">
            <%= link_to "Login", "#login", "data-toggle" => "modal", :class => "btn btn-success btn-lg wow fadeInRight" %>
            <%= link_to "Sign Up", "#sign_up", "data-toggle" => "modal", :class => "btn btn-warning btn-lg wow fadeInRight" %>
          </div>
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6 wow fadeInUp">
        <%= image_tag("ipad-hand.png", :class => "img-responsive") %>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container noscroll">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Allocate for Projects<h1>
        <h3>The Skill Matrix is a tool used to find/display people with certain skillsets.  It also serves to allocate workers to open projects.</h3>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-md-4">
      <%= image_tag("ser01.png", :width => "180", :class => "wow bounceInLeft") %>
      <h4>Find Personel to Work with</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
    </div><!--/col-lg-4 -->

    <div class="col-md-4">
      <%= image_tag("ser02.png", :width => "180", :class => "wow bounceInUp") %>
      <h4>Email Associates</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

    </div><!--/col-lg-4 -->

    <div class="col-md-4">
      <%= image_tag("ser03.png", :width => "180", :class => "wow bounceInRight") %>
      <h4>Gather Data from Projects in Progress</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

