<div class="panel panel-info">
  <div class="panel-heading">Manager</div>
  <div class="panel-body">
    <%= image_tag @user.manager.profile.avatar(:xsmall), class: "img-thumbnail center-block" %>
    <table class="table table-condensed table-curved table-striped table-hover voffset3">
      <tbody>
        <tr><td>Name: </td> <td><%= @user.manager.profile.full_name.titleize %></td></tr>
        <tr><td>Title: </td> <td><%= @user.manager.profile.title.titleize if @user.manager.profile.title %></td></tr>
        <tr><td>Email: </td> <td><%= link_to @user.manager.email, '#', :class => 'mailto', "data-email" => @user.manager.email %></td></tr>
        <tr><td>Office Phone: </td> <td><%= @user.manager.profile.office_phone %></td></tr>
        <tr><td>Cell Name: </td> <td><%= @user.manager.profile.cell_phone %></td></tr>
        <tr><td>Department: </td> <td><%= @user.manager.profile.department %></td></tr>
      </tbody>
    </table>
  </div>
</div>

