<div class="row well background-transparent">
  <div class="panel profile-back">
    <%= image_tag @profile.avatar(:small), class: "profile-pic img-circle" %><br />
    <div id="name"><small><%= @profile.full_name.titleize %><br/><div id="title"><%= @profile.title.titleize %></div></small></div>
    <%= link_to '<i class="fa fa-wrench fa-fw"></i> Edit Profile'.html_safe, edit_profile_path(@profile),
      :class => "btn btn-xs btn-primary pull-right", :id => "edit-profile-button" %>
  </div>
</div>

<div class="container">


  <div class="col-md-7">

  <div class="row">
    <div class="col-md-8">
      <%= render 'profile' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'skills' %>
    </div>
  </div>

</div>

  <div class="col-md-4">
    <%= render 'manager' %>
  </div>


</div>



<div class="container">
  <div class="col-md-8">
    <%= render 'surveys' %>
 </div>
</div>




