<h1>Profile Show</h1>
<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <table class="table">
<div id="<%= dom_id @profile %>">
  First Name: <span class="rest-in-place btn btn-default" data-formtype="input" data-attribute="first_name"><%= @profile.first_name %></span><br/><br/>
  Last Name: <span class="rest-in-place btn btn-default" data-formtype="input" data-attribute="last_name"><%= @profile.last_name %></span><br/><br/>
  Office Phone: <span class="rest-in-place btn btn-default" data-formtype="input" data-attribute="office_phone"><%= @profile.office_phone %></span><br/><br/>
  Cell Name: <span class="rest-in-place btn btn-default" data-formtype="input" data-attribute="cell_phone"><%= @profile.cell_phone %></span><br/><br/>
</div>
</div>
</table>
</div>
</div>
