<h3>New Project</h3>

<%= form_for @project do |f| %>
  <div class="row voffset3">
    <div class="col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name , :class => "form-control" %>
    </div>
  </div>

  <div class="row voffset3">
    <div class="col-md-3">
      <%= f.label "Project Manager" %>
      <%= f.collection_select :project_id, Profile.where(true).\
        order(:first_name, :last_name), :user_id, :full_name,
        { :selected => current_user.id },
        :class => "project-chosen-select" %>
    </div>

    <div class="col-md-1">
      <%= f.label "Status" %>
      <%= f.select :status, Project::STATUS.map.each_with_index\
        {|status, index| [status.humanize, index]},
        {},
        {:class => "project-chosen-select"} %>
    </div>
  </div>

    <div class="row voffset3">
      <div class="col-md-7">
        <%= f.label :department %>
        <%= f.text_field :department , :class => "form-control" %>
      </div>
    </div>

    <div class="row voffset3">
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description , :class => "form-control", :rows => 10 %>
      </div>
    </div>


    <div class="row voffset4">
      <div class="col-md-2">
        <%= submit_tag "Submit Project", :class => "btn btn-primary" %>
      </div>
    </div>

<% end %>

