<h3><%= @project.name.titleize %></h3>

<div class="container">

  <div class="row voffset3">
    <div class="col-md-12">
      <%= label_tag "Status " %><div class="btn btn-primary" disabled="disabled"><%= @project.status %></div>
    </div>
  </div>

  <div class="row voffset3">
    <div class="col-md-12">
      <%= label_tag "Department - " %><%= @project.department.titleize %>
    </div>
  </div>

  <div class="row voffset3">
    <div class="col-md-4">
      <%= render 'manager' %>
    </div>
    <div class="col-md-8">
      <h4>Project Description</h4>
      <%= @project.description %>
    </div>
  </div>

</div>

