<h3><%= @project.name.titleize %></h3>

<div class="container">

  <div class="row voffset3">
    <div class="col-md-12">
      <%= label_tag "Status " %><div class="<%= bootstrap_btn_class_for(@project.status) %>" disabled="disabled"><%= @project.status %></div>
    </div>
  </div>

  <div class="row voffset3">
    <div class="col-md-12">
      <%= label_tag "Department - " %><%= @project.department.titleize %>
    </div>
  </div>

  <div class="row voffset3">
    <div class="col-md-4">
      <%= render 'manager' %>
    </div>
    <div class="col-md-8">
      <h3>Project Description</h3>
      <p><%= @project.description %></p>
    </div>
  </div>

</div>

