<ul id="filter" class="nav nav-pills">
  <li class="active"><a href="#" data-group="all">All</a></li>
    <% @survey_tags.each do |tag| %>
  <li><a href="#" data-group="<%= tag %>"><%= tag.titleize %></a></li>
<% end %>
</ul>

<ul id="grid" class="list-inline">
  <% @surveys.each do |survey| %>
    <li class="item admin-survey-item col-md-2" data-id=<%= "#{survey.id}" %>
                              data-groups='["<%= survey.tag_list.join('","') %>"]'>
    <div class="row">
    <%= link_to "#{image_tag(survey.icon(:small), :class => "col-md-6")}".html_safe,
                edit_survey_path(survey), :remote => true %>
    <div class="row col-md-6">
      <%= link_to "#{survey.name}".html_safe, edit_survey_path(survey),
        :class => "font-size-small", :remote => true %>
    </div>
    <%= link_to '<button class="btn btn-danger btn-xs">delete</button>'.html_safe, survey,
      :method => :delete, :class => "col-md 6",
      :data => {:confirm => "Are you sure you want to remove \"#{survey.name}\"?",
                                       :title => "Delete Survey Confirmation" }, :remote => true %>
  </div>
    </li>
  <% end %>
</ul>

