<% form_id = "skill_#{@skill.id}_rating" %>
<% if user_signed_in? %> <!-- To avoid throwing an exception if no user is signed in -->
    <% user_id = current_user.id %>
<% else %>
    <% user_id = -1 %>
<% end %>

<%= form_for @skill.ratings.find_or_create_by_user_id user.id, :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
    <%= f.hidden_field :skill_id, :value => @skill.id %>
    <% if user_signed_in? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %> 
    <%= f.hidden_field :score, :id => form_id + "_stars" %>
<% end %>

<% (1..5).each do |i| %>
<li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
<% end %>

