<h1>Survey#new</h1>

<%= form_for @survey do |f| %>
  <div class="field">
  <%= f.label :name %> <br />
  <%= f.text_field :name %>
</div> 
<%= link_to_add_fields "Add Skills", f, :rateable_skills %>
<div class="actions">
  <%= f.submit %>
</div>

<% end %> 

