<h1>Survey#new</h1>

<%= form_for @survey do |f| %>
    <%-# add errors here -%>
    <div class="field">
        <%= f.label :name %> <br />
        <%= f.text_field :name %>
    </div> 

    <%= f.fields_for :rateable_skills do |builder| %>
        <%-#= link_to_add_fields "Add Skills", f, :rateable_skills %>
        <%= render 'rateable_skill_fields', f: builder %> 
    <% end %>
    <div class="actions">
        <%= f.submit %>
    </div>

<% end %> 

<%-# link_to "New Rateable Skill", new_rateable_skill_path, id:"new_rateable_skill_link", remote: true %>


