<div id="attempts-flash-messages"></div>
<h3 class="extra-bottom-padding"><%= @survey.name %></h3>
<%= form_for [@survey, @attempt] do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :survey_id, :value => @survey.id %>
  <% @survey_questions.each do |question| %>
    <%= render "question_form", :f => f, :question => question %>
  <% end %>

  <div class="row">
    <div class="col-md-10">
      <%= render "skill_rating_form", :f => f,
                                      :survey_skills => @survey_skills,
                                      :user_skill_ratings => @user_skill_ratings %>
    </div>
  </div>

  <%= f.submit "Submit Survey", :class => "btn btn-primary" %>

<% end %>

