<h3>Survey Submissions for "<%= @survey_name %>"</h3>
<h5 class="voffset">Please Click on the User to view their submission</h5>
<div class="table-responsive voffset4">
<table class="table table-curved table-striped table-condensed table-hover" id="submissions">
    <thead>
        <tr>
            <th class="table-xsmall-image"></th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Department</th>
            <th>Attempt Made on</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @attempts.each do |attempt| %>
          <tr>
            <td class="table-xsmall-image"><%= link_to image_tag(
                attempt.user.profile.avatar(:xsmall), :border => 0, :class => "img-responsive"),
                profile_path(attempt.user) %></td>
            <td><%= link_to attempt.user.profile.full_name, profile_path(attempt.user) %></td>
            <td><%= attempt.user.email %></td>
            <td><%= attempt.user.profile.title %></td>
            <td><%= attempt.user.profile.department %></td>
            <td><%= attempt.created_at %></td>
            <td><%= link_to '<button type="button" class="btn btn-success">View Survey</button>'.html_safe, survey_attempt_path(:survey_id => attempt.survey_id, :id => attempt.id) %>
          </tr>
        <% end %>
    </tbody>
</table>
</div>
