<div id="attempts-flash-messages"></div>
<h3 class="extra-bottom-padding"><%= @survey.name %></h3>
<%= form_for [@survey, @attempt] do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :survey_id, :value => @survey.id %>
  <% @questions.each do |question| %>
    <div class="panel panel-primary">
      <div class="panel-heading"><b><%= question.text %></b></div>
      <div class="panel-body horizontal-form">
        <%= render "question_form", :f => f, :question => question %>
     </div>
    </div>
  <% end %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">Please rate yourself on the following.</div>
  <div class="panel-body inline">
    <% @ratings.each do |rating| %>
      <%= render "skill_rating_form", :rating => rating %>
  <% end %>
  </div>
</div>

<%= submit_tag "Submit Survey", :id => "attempt-submit-button", :class => "btn btn-primary" %>

