<h1 class=""><%= @survey.name %></h1>
<p>Please rate yourself on the following skill fields.<br/>
<small>Note that this page does not need to be submitted</small></p>
<%= form_for @attempt, :url => survey_attempt_path(:id => @survey.id) do |f| %>
<% @questions.each do |question| %>
  <div class="row background-transparent">
    <%= render 'question_form', :question => question %>
    <%= f.fields_for :answers do |answer| %>
      <small>Enter a Answer</small>
      <%= answer.text_area :text %>
      <% answer.hidden_field :question_id, :value => question.id %>
    <% end %>
    <% end %>
  </div>
<% end %>

<% @ratings.each do |rating| %> 
  <div class="row background-transparent">
  <div class="col-md-9">
    <%= render 'skill_rating_form', :rating => rating %>
  </div>
</div>
<% end %>
</div>
