<h3 class="extra-bottom-padding"><%= @attempt.survey.name %></h3>
  <% @survey_questions.each do |question| %>
    <div class="panel panel-primary">
      <div class="panel-heading"><b><%= question.text %></b></div>
      <div class="panel-body horizontal-form">
        <%= question.answers.where(:attempt_id => @attempt.id).pluck(:text)[0] || "No Answer Given" %>
     </div>
    </div>
<% end %>

<% unless @survey_skills.empty? %>
  <%= form_for :attempt do |f| %>
  <div class="row">
    <div class="col-md-10">
      <%= render "skill_rating_form", :f => f,
                                      :survey_skills => @survey_skills,
                                      :user_skill_ratings => @user_skill_ratings,
                                      :readonly => true %>

    </div>
  </div>
<% end %>
<% end %>


