<nav class="col-xs-6 col-sm-2 sidebar" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li>
      <%= link_to '<i class="fa fa-dashboard fa-fw"></i> Home'.html_safe, root_url %>
      </li>
      <li>
      <%= link_to '<i class="fa fa-bar-chart-o fa-fw"></i> Skill Proficiency Report'.html_safe, ratings_path %>
      </li>
      <li>
      <%= link_to '<i class="fa fa-archive fa-fw"></i> Survey Submissions'.html_safe, survey_submissions_path %>
      </li>
      <li>
      <%= link_to '<i class="fa fa-edit fa-fw"></i> Make A Survey'.html_safe, static_pages_survey_builder_path %>
      </li>
      <li>
      <%= link_to '<i class="fa fa-table fa-fw"></i> Survey Index'.html_safe, surveys_path %>
      </li>
      <li>
      <%= link_to '<i class="fa fa-sitemap fa-fw"></i> List All Users'.html_safe, users_path %>
      </li>
      <li>
      <%= link_to '<i class="fa fa-envelope-o fa-fw"></i> Mailer Test'.html_safe, "#", :id => "showRight" %>
      </li>
    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->

