<!DOCTYPE html>
<html>
<head>
<title>SkillMatrix</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<%= render "static_pages/login_modal" %>
<%= render "static_pages/sign_up_modal" %>
<div id="wrapper">
  <%= render 'layouts/test' %>
  <%= render 'layouts/test_side' %>
  <div class="col-xs-12 col-sm-9">
    <%= yield %>
  </div>
</div>
</div>
</body>
</html>
