<!DOCTYPE html>
<html>
<head>
<title>SkillMatrix</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<%= render "static_pages/login_modal" %>
<%= render "static_pages/sign_up_modal" %>
<div id="wrap">
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
</div>
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
